.wrapper{   
  display:inline-block;  
  min-height: 95vh;
  width: 100%;
  color: azure;
  background: url("/img/header.png") no-repeat 50% 3% fixed,
    url("/img/background.png") no-repeat 50% 75% fixed;    
}
.row-timer{
  margin-top: 16vh;  
}
@media (max-width: 698px){
  .wrapper{
    position: relative;
    top: 0;
    width:100%;
  }
  .row-timer{
    position: relative;
    top:0;
    left:25%;     
  }
}