.dash-wrapper{  
  color:black;
  font-weight: bolder; 
  margin-top: 1em;    
}
.task-wrapper{  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 20vh;
  margin: 0;
  padding: 0;
  margin-top: -.3em;
}
.task-img,
.task-text,
.task-btn{
  display: flex;
  flex-direction: column;   
  justify-content: center;  
}
.task-img{
  width:10em;  
  align-items: center; 
}
.task-img > img{
  width: 50%;
  height: auto;
  transform: rotate(18deg);
}
.task-text{
  text-align: left;
  width:20em; 
  align-items:flex-start;    
}
.task-text > p{
  margin-bottom: -1em;
  padding-bottom: 0;
}
progress{
  width:100%;
  max-width: 20em;
  display: block; 
  margin: 2em auto;
  padding: 3px;
  border: 0 none;
  background: white;
  border-radius: 14px;		
}
progress::-moz-progress-bar {
  border-radius: 12px;
  background: rgb(143, 160, 81);

}
.task-btn{ 
  width:10em; 
  align-items:flex-end;
  justify-content: flex-end;  
  margin-bottom: -1em;     
}
.task-btn > button{
  background-color: #EBD566;
  border: 2px solid #3D3301;
  border-radius: 4px;
  color:#3D3301;
  height: 2em;
  font-weight:500;  
}
@media (max-width: 698px){
  .task-wrapper{    
    margin-top: .5em;
    font-size: .9em;
  }
  .task-img > img{
    width: 45%;
  } 
  .task-btn > button{
    height: 3em;
    margin-left: 1em;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 25px;
  }
}
progress::-webkit-progress-bar {
    background: transparent;
}  
progress::-webkit-progress-value {  
  border-radius: 12px;
  background: rgb(143, 160, 81);
} 